{% extends 'layout.twig' %}

{% block content %}
<div class="row">   
    <table class="table">
        <tr>
            <th>Job title</th>
            <th>Delete</th>
        </tr>
        {% for job in jobs  %}  
            <tr>   
                <td>{{ job.title }}</td>
                <td>
                    <a href="/php-avanzado/jobs/{{ job.id }}/delete">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}